.theme.cta {
  border: none;
  min-height: 20px;
  position: absolute;
  z-index: 10;
  top: -45px;
  border-radius: 4px;
  outline: none;
}

.dark-theme {
  .theme.cta {
    background: #484c55;
    color: var(--white);
    font-size: 0.85rem;
  }
}

.light-theme {
  .theme.cta {
    border: 1px solid var(--primary);
    color: var(--primary);
  }
}